<a href="https://colab.research.google.com/github/hvnahush/Credit-card-fraud-detection/blob/main/credit_card_fraud_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
credit_card_data = pd.read_csv(r"/content/creditcard.csv")

In [ ]:
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [ ]:
# to check last five rows of dataFrame
credit_card_data.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
13949  24754  1.252924 -0.182189 -0.802716  ... -0.051402  0.005112   23.74    0.0
13950  24756 -0.346979 -2.103284 -0.685061  ... -0.149931  0.129795  794.20    0.0
13951  24759 -6.053652 -5.988723  0.810413  ... -0.700463  2.508443   60.00    0.0
13952  24759  1.169121 -1.284945  0.032717  ...  0.015029  0.032067   90.00    0.0
13953  24759 -6.917152  5.854171 -1.652458  ...  1.071374 -0.168831     NaN    NaN

[5 rows x 31 columns]

In [ ]:
# information about dataframe
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13954 entries, 0 to 13953
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    13954 non-null  int64
 1   V1      13954 non-null  float64
 2   V2      13954 non-null  float64
 3   V3      13954 non-null  float64
 4   V4      13954 non-null  float64
 5   V5      13954 non-null  float64
 6   V6      13954 non-null  float64
 7   V7      13954 non-null  float64
 8   V8      13954 non-null  float64
 9   V9      13954 non-null  float64
 10  V10     13954 non-null  float64
 11  V11     13954 non-null  float64
 12  V12     13954 non-null  float64
 13  V13     13954 non-null  float64
 14  V14     13954 non-null  float64
 15  V15     13954 non-null  float64
 16  V16     13954 non-null  float64
 17  V17     13954 non-null  float64
 18  V18     13954 non-null  float64
 19  V19     13954 non-null  float64
 20  V20     13954 non-null  float64
 21  V21     13954 non-null  float64
 22  V22     13954 non-null  float64
 23  V23     13954 non-null  float64
 24  V24     13954 non-null  float64
 25  V25     13954 non-null  float64
 26  V26     13954 non-null  float64
 27  V27     13954 non-null  float64
 28  V28     13954 non-null  float64
 29  Amount  13953 non-null  float64
 30  Class   13953 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 3.3 MB

In [ ]:
# to check the numbers of  misssing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    1
Class     1
dtype: int64

In [ ]:
# checking the number rows and columns
credit_card_data.shape

(13954, 31)

In [ ]:
#filling the misssing values by median method
credit_card_data['V15'].fillna(credit_card_data['V15'].median(),inplace=True)
credit_card_data['V16'].fillna(credit_card_data['V16'].median(),inplace=True)
credit_card_data['V17'].fillna(credit_card_data['V17'].median(),inplace=True)
credit_card_data['V18'].fillna(credit_card_data['V18'].median(),inplace=True)
credit_card_data['V19'].fillna(credit_card_data['V19'].median(),inplace=True)
credit_card_data['V20'].fillna(credit_card_data['V20'].median(),inplace=True)
credit_card_data['V21'].fillna(credit_card_data['V21'].median(),inplace=True)
credit_card_data['V22'].fillna(credit_card_data['V22'].median(),inplace=True)
credit_card_data['V23'].fillna(credit_card_data['V23'].median(),inplace=True)
credit_card_data['V24'].fillna(credit_card_data['V24'].median(),inplace=True)
credit_card_data['V25'].fillna(credit_card_data['V25'].median(),inplace=True)
credit_card_data['V26'].fillna(credit_card_data['V26'].median(),inplace=True)
credit_card_data['V27'].fillna(credit_card_data['V27'].median(),inplace=True)
credit_card_data['V28'].fillna(credit_card_data['V28'].median(),inplace=True)
credit_card_data['Amount'].fillna(credit_card_data['Amount'].median(),inplace=True)
credit_card_data['Class'].fillna(credit_card_data['Class'].median(),inplace=True)

In [ ]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
#distrubuting of  and normal fraud transaction
credit_card_data['Class'].value_counts()

0.0    13898
1.0       56
Name: Class, dtype: int64

 0.0 = Normal Transcation
 1.0 = fraudulent Transaction



 More than 95% of the data is in one particular class
 so, we are separating the data present in the class column

In [ ]:
#separating the data for analysis
normal = credit_card_data[credit_card_data.Class==0.0]
fraud = credit_card_data[credit_card_data.Class==1.0]

In [ ]:
print(normal.shape)
print(fraud.shape)

(13898, 31)
(56, 31)

In [ ]:
normal.Amount.describe()

count    13898.000000
mean        63.770450
std        177.158598
min          0.000000
25%          5.770000
50%         15.895000
75%         52.355000
max       7712.430000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count      56.000000
mean       90.815893
std       310.308450
min         0.000000
25%         1.000000
50%         1.000000
75%         1.025000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
#compare the values for Normal and Fraud 
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    10112.535185 -0.217575  0.266654  ...  0.009642  0.002317  63.770450
1.0    12262.107143 -4.727948  4.660436  ...  0.793484 -0.046177  90.815893

[2 rows x 30 columns]

under Sampling

Build a sample dataset containing equally distrubuted transactions.

Number of Fraud Transactions = 56

In [ ]:
Normal_sample = normal.sample(n=56)

In [ ]:
# concatening two data sets one is fraud and other is Normal_sample
new_dataset = pd.concat([Normal_sample, fraud],axis = 0)
new_dataset.tail()

        Time         V1         V2  ...       V28  Amount  Class
11880  20451 -15.819179   8.775997  ... -1.411945     1.0    1.0
12070  20931 -16.367923   9.223692  ... -1.416741     1.0    1.0
12108  21046 -16.917468   9.669900  ... -1.421243     1.0    1.0
12261  21419 -17.467710  10.114816  ... -1.425491     1.0    1.0
12369  21662 -18.018561  10.558600  ... -1.429517     1.0    1.0

[5 rows x 31 columns]

In [ ]:
new_dataset['Class'].value_counts()

1.0    56
0.0    56
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    10247.321429 -0.332938  0.450124  ... -0.030834 -0.029523  66.361607
1.0    12262.107143 -4.727948  4.660436  ...  0.793484 -0.046177  90.815893

[2 rows x 30 columns]

In [ ]:
#splitting the data 
X = new_dataset.drop(columns='Class', axis =1 )
Y = new_dataset['Class']

In [ ]:
print(X)
print(Y)

        Time         V1         V2  ...       V27       V28  Amount
10052  15207   1.215002   0.561628  ... -0.017302 -0.010360    2.99
10197  15774  -1.377080   0.355754  ... -0.193262  0.232369    0.76
6362    7579  -0.353191   1.015744  ...  0.209757 -0.027942   36.00
13393  23664   0.343044  -1.127913  ... -0.057848  0.058355  389.40
2223    1750   1.063293  -0.519996  ...  0.132025 -0.008947    4.50
...      ...        ...        ...  ...       ...       ...     ...
11880  20451 -15.819179   8.775997  ...  2.136424 -1.411945    1.00
12070  20931 -16.367923   9.223692  ...  2.122796 -1.416741    1.00
12108  21046 -16.917468   9.669900  ...  2.108471 -1.421243    1.00
12261  21419 -17.467710  10.114816  ...  2.093541 -1.425491    1.00
12369  21662 -18.018561  10.558600  ...  2.078081 -1.429517    1.00

[112 rows x 30 columns]
10052    0.0
10197    0.0
6362     0.0
13393    0.0
2223     0.0
        ...
11880    1.0
12070    1.0
12108    1.0
12261    1.0
12369    1.0
Name: Class, Length: 112, dtype: float64

Splitting the test and train data

In [ ]:
X_test,X_train,Y_test,Y_train = train_test_split(X,Y,test_size = 0.2,stratify=Y,random_state=2)

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(112, 30) (23, 30) (89, 30)

Model Training

In [ ]:
model = LogisticRegression()

In [ ]:
#training the Logistic Regression  model
model.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Model Evaluation

Accuracy Score

In [ ]:
#accuracy on train data
X_train_prediction = model.predict(X_train)
Accuracy_score = accuracy_score(X_train_prediction,Y_train)

In [ ]:
print(Accuracy_score)

0.9325842696629213

In [ ]:
#accuracy on test data
X_test_prediction = model.predict(X_test)
Accuracy_score = accuracy_score(X_test_prediction,Y_test)

In [ ]:
print(Accuracy_score)

0.9325842696629213